
<nav  class="navbar navbar-expand-lg fixed-top shadow" style="background-color: transparent;">
    <div class="container-fluid" style="height: 45px;">
        <a class="navbar-brand" href="#">
            <h5 class="text-white ms-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color: #4F39DF;"><span class="border rounded px-3 py-2 bg-white" style="color: #4F39DF;">Security</span> Shield</h5>
        </a>
        <div class="navbar-nav">
            <a class="nav-link active text-white" routerLink="/">Home</a>
            <a class="nav-link text-white" href="#">Features</a>
            <a class="nav-link text-white" href="#">Pricing</a>
            <a class="nav-link text-white-50" >Disabled</a>
        </div>
    </div>
</nav>




