
<nav  class="navbar navbar-expand-lg fixed-top shadow" style="background-color: transparent">
    <div class="container-fluid">
        <!-- Toggle button -->
        <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
        </button> -->

        <a class="navbar-brand" href="#">
        <img src="./../../../assets/lock.png" height="40" alt="LOGO_IMG" class="ms-4 text-white"
            loading="lazy" />
        </a>
    </div>
</nav>