<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:92vh;">
    <div class="">
        <div>
            <h1 class="text-white" style="font-size: 100px;">Welcome</h1>
            <p class="text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut expedita maiores nesciunt.</p>
        </div>
        <div class="">
            <button class="btn btn-primary me-3">Get Started</button>
            <a class="btn btn-outline-light" routerLink="/Signin">Login</a>
        </div>
    </div>
</div>
