
<div class=" d-flex justify-content-center">
    <div class="card bg-dark text-white shadow" style="border-radius: 30px; width: 500px; margin-top: 70px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <div class="card-body p-5 text-center">
            <h2 class="fw-bold mb-2">LOGIN</h2>
            <p class="text-white-50 mb-5">Please enter your login and password!</p>
            <form (ngSubmit)="loing()">
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                    <input type="email" id="typeEmailX" class="form-control" [(ngModel)]="formData.email" name="email" placeholder="Email" />
                </div>
    
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Password</label>
                    <input type="password" id="typePasswordX" class="form-control" [(ngModel)]="formData.password" name="password" placeholder="Password" />
                </div>
    
                <p class="small mb-3">Don't have an account?<a class="text-white-50 ms-1" routerLink="/signup">Signup</a></p>
    
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>